.Daily-Progress {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.step-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Daily-Progress img {
  height: 8em;
  width: 8em;
}

.step-container button {
  width: 8rem;
  height: 2.2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;

  background-color: #ff3b3f;
  color: white;
  cursor: pointer;
}

.step-container input {
  width: 12rem;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  outline: none;
}
