.weekly-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas:
    "header header header"
    "Goal reminder distance";
  gap: 0px 20px;
}

.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #efefef;
  grid-area: header;
  padding: 3px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.weekly-reminder {
  grid-area: reminder;
  background-color: #caebf2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;

  margin-top: 20px;
}

.weekly-goal {
  padding: 10px;
  grid-area: Goal;
  background-color: #caebf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.distance {
  grid-area: distance;
  background-color: #caebf2;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  margin-right: 20px;

  margin-top: 20px;
}

.welcome-header img {
  height: 5em;
  width: 5em;
  border-radius: 20px;
  box-shadow: -1px 4px 10px -3px #81a4cd;
}
.weekly-reminder button {
  width: 8rem;
  height: 2.2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;

  background-color: #ff3b3f;
  color: white;
  cursor: pointer;
}
