.step-goal{
    border: solid #3E73B1 10px ;
    background-color: #81A4CD;
    border-radius: 20px;
    padding: 20%;
}
.goal-letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    gap: 5px;
}
.goal-form input{
    width: 12rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    border: #3E73B1 2px solid;
    outline: none;
}

.goal-form button{
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    border: #3E73B1 2px solid;
    background-color: #3E73B1;
    color: white;
    cursor: pointer;
}
.goal-form button:hover{
    border: white 2px solid;
    background-color: white; 
    color: #3E73B1;
}