.step-goal {
  background-color: #caebf2;
  border-radius: 20px;
  padding: 20%;
  margin-left: 20px;

  margin-top: 10px;
}

.goal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.goal-form button {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;

  background-color: #ff3b3f;
  color: white;
  cursor: pointer;
}

.weekly-container img {
  width: 8rem;
  height: 8rem; /*anj added*/
  align-self: center;
}

.weekly-input {
  text-align: center;
  font-size: 1rem;
  padding: 5px;
}
