* {
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navBar week week "
    "navBar week week "
    "navBar daily Quotes"
    "navBar daily Quotes ";
}
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: navBar;
  background-color: #82a8d068;
}

.weekly-container {
  grid-area: week;
}
.Daily-Progress {
  grid-area: daily;
  background-color: #82a8d068;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Here we have to style the elements of left-side-nav-bar due to conflicts*/
.nav-container img {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-top: 40px;
}
.nav-button {
  height: 2.5em;
  width: 2.3em;
  font-size: 1.3em;
  font-weight: 200;
  color: #ffffff;
  border-radius: 7px;
  background-color: #81a4cd;
}
.nav-button:hover {
  background-color: #f17400cc;
  color: #f1f1f1;
  cursor: pointer;
}
/* Here we have to style the elements of quotes*/
.quote-container img {
  width: 25rem;
  height: 15rem;
  border-radius: 20px;
  box-shadow: -1px 4px 10px -3px  #2b5376;
}
.quote-container {
  grid-area: Quotes;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #82a8d068;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

body {
  background-color: #2b5376;
}
