* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;
}

html,
body,
#root {
  height: 100%;
}

.nav-container,
.nav-container * {
  box-sizing: content-box;
}

.main {
  width: 100%;
  min-height: 100vh; /* Adjusted height to fill the available space */
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navBar week week"
    "navBar week week"
    "navBar daily quotes"
    "navBar daily quotes";
}

.weekly-container {
  grid-area: week;
}

.Daily-Progress {
  grid-area: daily;
  background-color: #caebf2;
  border-radius: 10px;
  margin: 20px;
}

.nav-container {
  grid-area: navBar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
}

.nav-container * {
  margin-bottom: 10px;
}

.nav-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: auto;
  align-self: center;
  margin-top: 40px;
}

.nav-container button {
  width: 4rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  background-color: #ff3b3f;
  color: white;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
}

.quote-container img {
  width: 25rem;
  height: 15rem;
  border-radius: 20px;
}

.quote-container {
  grid-area: quotes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #caebf2;
  border-radius: 10px;
  margin: 20px;
}

.quote-container h2 {
  max-width: 700px;
  margin-bottom: 2.5rem;
  text-align: center !important;
}

@media (max-width: 1600px) {
  /* Adjust the layout for screens up to 1600px */
  .main {
    grid-template-columns: 0.15fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  /* Hide all elements and display the "Not Optimized For Mobile...Yet" message */
  .main,
  .nav-container,
  .quote-container,
  .weekly-container,
  .Daily-Progress,
  .step-container,
  input {
    display: none;
  }

  .not-optimized-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    color: black;
    height: 100vh;
  }
}
